// $background : #e8e8a6;
$background1 : #f8f8f8;
$background : #ebebeb;

//$mainColor : #937602;
$mainColor1 : #3f51b5;
$mainColor : #24475b;
$mainBlack : #000;

//$secondaryColor : #AB8A00;
//$secondaryColor1 : #ffaa5a;
$secondaryColor1 :#F5A623;
$secondaryColor : #009591;

// $extraColor1 : #c7be6e;
$extraColor11 : #ffd0a4;
$extraColor1 : #2ed18e;

$adColor11 : #888efc;
$adColor1 : #00c6af;

$adColor21 : #01328f;
$adColor2 : #073650;

$adColor3 : #fff7d6;
//$adColor4: #888efc;
// $adColor1 : #888efc;

$mainWhite: #fff;
//$redColor : rgb(232, 60, 60);
//$redColor : #ec5d63;
$redColor : #ec5d63;
//$greenColor : rgb(72, 122, 58);
//$greenColor : #05a986;
$greenColor : #05a986;

//$gradiant : linear-gradient(to left, #3f51b5, #3f51b5e5);
$gradiant : linear-gradient(to left, #24475b, #24475bc9);

$transition: all ease-in-out 0.3s;

$boxShadow : 4px 4px 8px 1px rgba(0, 0, 0, 0.05);