@import url(./fonts/font.css);
html {
  scroll-behavior: smooth; }

body {
  padding: 0;
  margin: 0;
  direction: rtl;
  overflow-x: hidden !important;
  font-size: 20px;
  font-family: "main-font";
  color: #24475b;
  line-height: 35px;
  width: 100% !important;
  min-width: 300px;
  background-color: #ebebeb; }

body * {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none !important; }

.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: #24475b;
  animation-name: spinMF;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse; }

.pause {
  width: 100vw;
  height: 100vh;
  color: #24475b;
  font-size: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ebebeb;
  opacity: 0.6;
  z-index: 999999;
  display: none; }
  .pause i {
    animation-name: spinMF;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; }

.main-area {
  padding: 30px 10px 0;
  margin-bottom: 100px; }

/* top btn */
.move-to-top {
  width: 60px;
  height: 60px;
  color: #ebebeb;
  background-color: #24475b;
  font-size: 40px;
  border-radius: 50%;
  position: fixed;
  right: 10px;
  bottom: 60px;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

/* top btn */
/* first page styles */
@keyframes spinMF {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.first-page .greetings {
  color: #073650; }
.first-page .user-info {
  font-size: 20px; }
.first-page .greeting-messsage {
  font-size: 25px;
  margin: 30px 0;
  text-align: center;
  line-height: 50px; }
.first-page .usersName-wrapper {
  color: #ebebeb;
  background-color: unset;
  font-size: 22px;
  border-radius: 50px;
  background-image: linear-gradient(to left, #24475b, #24475bc9);
  padding: 5px 10px;
  margin: 0 5px; }
.first-page .wallet-wrapper {
  color: #ebebeb;
  background-color: unset;
  font-size: 20px;
  border-radius: 100px;
  background-image: linear-gradient(to left, #24475b, #24475bc9);
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
.first-page .wallet-title-wrapper .wallet-title {
  font-size: 30px; }
.first-page .wallet-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-top: 10px; }
.first-page .sperator {
  margin: 0 5px; }
.first-page .books-class-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px; }
.first-page .book-class-btns {
  width: 150px;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #24475b;
  background-color: #ebebeb;
  font-size: 25px;
  border-radius: 20px;
  border: 2px solid #24475b; }

/* first page styles */
/* search modal */
.search-modal {
  position: fixed;
  top: -100vh;
  left: 2vw;
  width: 96vw;
  min-height: 100px;
  max-height: calc(100vh - 150px);
  overflow-y: scroll;
  z-index: 99;
  color: #24475b;
  background-color: #2ed18e;
  font-size: 15px;
  border-radius: 50px;
  padding: 20px 0;
  transition: all ease-in-out 0.6s; }
  .search-modal input {
    display: block;
    margin: 0 auto 30px;
    width: 80%;
    height: 50px;
    border: 2px solid #24475b;
    border-radius: 20px;
    outline: none !important;
    font-size: 15px;
    font-family: "main-font";
    padding: 10px; }
  .search-modal .search-result {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .search-modal .search-result-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #24475b;
    border-radius: 40px;
    width: 90%;
    padding: 0 30px;
    margin: 20px 0px; }
    .search-modal .search-result-item img {
      width: 60px;
      border-radius: 15px;
      margin-bottom: 20px;
      box-shadow: 0px 10px 15px 0 #00000080; }
    .search-modal .search-result-item span {
      margin-right: 20px;
      font-size: 15px; }

/* search modal */
/* books page styles */
.books-wrapper .books-header {
  position: fixed;
  width: 100vw;
  background-color: #ebebeb;
  right: 0;
  top: 0px;
  padding-top: 40px;
  z-index: 99; }
.books-wrapper .back {
  position: absolute;
  top: 40px;
  right: 10px;
  color: #24475b;
  background-color: #ebebeb;
  font-size: 40px;
  border-radius: 10px;
  border: 2px solid;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .books-wrapper .back i {
    position: relative;
    right: -3px; }
.books-wrapper .search-icon {
  position: absolute;
  top: 40px;
  left: 10px;
  color: #24475b;
  background-color: #ebebeb;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .books-wrapper .search-icon i {
    position: relative;
    right: 0px; }
.books-wrapper .books-page-title {
  font-size: 40px;
  text-align: center;
  width: 100%;
  margin-bottom: 50px; }
.books-wrapper .book-order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  color: #ebebeb;
  background-color: unset;
  font-size: 20px;
  border-radius: 50px;
  background-image: linear-gradient(to left, #24475b, #24475bc9);
  margin: 100px 0 0; }
.books-wrapper .main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
.books-wrapper .filters-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 2px solid;
  border-radius: 50px;
  padding: 0 10px;
  margin: 30px 0; }
  .books-wrapper .filters-wrapper * {
    flex: 1; }
.books-wrapper .filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: inline-block;
  padding: 10px 0;
  height: 100%;
  font-size: 15px;
  position: relative;
  z-index: 5; }
.books-wrapper .active-filter {
  color: #05a986; }
.books-wrapper .fil-2 {
  border-right: 2px solid #24475b;
  border-left: 2px solid #24475b;
  padding: 10px 10px; }
.books-wrapper .save_and_return_btn {
  color: #24475b;
  background-color: #ebebeb;
  font-size: 15px;
  border-radius: 50px;
  border: 2px solid #24475b;
  padding: 5px 20px;
  margin: 40px auto; }
.books-wrapper .books {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
  column-gap: 10px;
  width: 100%; }
  .books-wrapper .books .book-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #2ed18e;
    padding: 90px 0 10px;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    margin-top: 55px; }
  .books-wrapper .books img {
    width: 100px;
    border-radius: 15px;
    position: absolute;
    z-index: 3;
    margin-bottom: 0px;
    box-shadow: 0px 10px 15px 0 #00000080;
    top: -55px; }
  .books-wrapper .books .publisher {
    font-size: 15px;
    color: #073650; }
  .books-wrapper .books .book-name {
    font-size: 16px;
    max-height: 35px;
    overflow-y: scroll;
    margin: -10px 0 5px; }
  .books-wrapper .books .book-price {
    color: #24475b;
    background-color: #ebebeb;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid;
    padding: 0px 5px; }
  .books-wrapper .books .action-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: 10px 0; }
    .books-wrapper .books .action-btns * {
      flex: 1; }
    .books-wrapper .books .action-btns .add-book {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .books-wrapper .books .action-btns .add-book i {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 2px solid #05a986;
        color: #ebebeb;
        background-color: #05a986;
        font-size: 17px;
        border-radius: 10px; }
    .books-wrapper .books .action-btns .book-quantity {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0 5px;
      background-color: #24475b;
      border-color: #24475b;
      padding-top: 5px;
      color: #ebebeb;
      border: 2px solid #24475b;
      border-radius: 10px;
      height: 40px; }
    .books-wrapper .books .action-btns .decrment-book {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .books-wrapper .books .action-btns .decrment-book i {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 2px solid #ec5d63;
        color: #ebebeb;
        background-color: #ec5d63;
        font-size: 17px;
        border-radius: 10px; }
.books-wrapper .publisher-item, .books-wrapper .book-year-item, .books-wrapper .subject-item {
  width: 80%;
  margin-bottom: 20px; }
  .books-wrapper .publisher-item::before, .books-wrapper .book-year-item::before, .books-wrapper .subject-item::before {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #24475b;
    border-radius: 50%;
    border: 1px solid;
    position: relative;
    top: 5px;
    margin-left: 11px; }
.books-wrapper .disabled::before {
  background-color: #ebebeb !important; }
.books-wrapper .page-count {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  direction: ltr;
  margin: 50px 0;
  row-gap: 10px; }
  .books-wrapper .page-count .page-number {
    color: #24475b;
    background-color: #ebebeb;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #24475b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding-top: 4px; }
  .books-wrapper .page-count .active-page {
    color: #ebebeb;
    background-color: #24475b; }
.books-wrapper .sort-by-wrapper .sort {
  margin: 30px;
  font-size: 20px; }
  .books-wrapper .sort-by-wrapper .sort::before {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #24475b;
    border-radius: 50%;
    border: 1px solid;
    position: relative;
    top: 5px;
    margin-left: 11px; }
.books-wrapper .srt {
  display: block;
  width: 150px;
  text-align: center; }

/* books page styles */
/* shopping cart styles */
.cart-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .cart-wrapper .cart-header {
    position: relative;
    width: 100%; }
  .cart-wrapper .back {
    position: absolute;
    top: 0px;
    right: 10px;
    color: #24475b;
    background-color: #ebebeb;
    font-size: 40px;
    border-radius: 10px;
    border: 2px solid;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .cart-wrapper .back i {
      position: relative;
      right: -3px; }
  .cart-wrapper .cart-page-title {
    font-size: 40px;
    text-align: center;
    width: 100%;
    margin-bottom: 50px; }
  .cart-wrapper .cart-is-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    width: 100%; }
    .cart-wrapper .cart-is-empty .empty-text {
      font-size: 25px;
      text-align: center;
      animation-name: growMF;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-direction: alternate-reverse; }
  .cart-wrapper .go-to-book-page {
    color: #ebebeb;
    background-color: #24475b;
    font-size: 25px;
    border-radius: 40px;
    border: 2px solid;
    padding: 10px 20px;
    margin: 20px 0; }
  .cart-wrapper .cart-main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    background-color: #2ed18e;
    border-radius: 40px;
    padding: 20px 0; }
  .cart-wrapper .cart-items {
    width: 100%;
    padding: 0 20px; }
  .cart-wrapper .cart-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin: 0 0 20px;
    border-bottom: 1px solid #24475b;
    border-top: 1px solid #24475b;
    border-radius: 10px;
    padding: 20px 0; }
  .cart-wrapper .details {
    text-align: center; }
  .cart-wrapper .cart-item-name {
    color: #24475b;
    background-color: #ebebeb;
    font-size: 15px;
    border-radius: 40px 0 40px 40px;
    margin-bottom: 5px;
    border: 1px solid;
    padding: 2px 5px; }
  .cart-wrapper .cart-item-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px; }
  .cart-wrapper .more i {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ebebeb;
    background-color: #05a986;
    font-size: 15px;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    border: 2px solid #05a986; }
  .cart-wrapper .less i {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ebebeb;
    background-color: #ec5d63;
    font-size: 15px;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    border: 2px solid #ec5d63; }
  .cart-wrapper .quantity {
    color: #24475b;
    background-color: #ebebeb;
    font-size: 15px;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px 0; }
  .cart-wrapper img {
    width: 60px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px 0 #00000080; }
  .cart-wrapper .totalprice-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px; }
    .cart-wrapper .totalprice-wrapper .label {
      color: #24475b;
      background-color: #ebebeb;
      font-size: 18px;
      border-radius: 40px 0 40px 40px;
      border: 1px solid;
      padding: 5px 10px; }
    .cart-wrapper .totalprice-wrapper .total-price {
      font-size: 12px;
      color: #24475b; }
    .cart-wrapper .totalprice-wrapper .price {
      font-size: 20px;
      border-bottom: 1px solid;
      border-radius: 5px;
      padding: 3px;
      margin-left: 5px; }
  .cart-wrapper .disabled {
    background-color: gray;
    background-image: none !important; }
  .cart-wrapper .cart-next-step {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ebebeb;
    background-image: linear-gradient(to left, #24475b, #24475bc9);
    font-size: 25px;
    margin: 20px 0;
    padding: 5px 20px;
    border-radius: 30px; }
    .cart-wrapper .cart-next-step .label {
      font-size: 15px;
      text-align: center;
      flex-grow: 1; }

@keyframes growMF {
  from {
    transform: scale(0.5);
    color: #fff; }
  to {
    transform: scale(1.2);
    color: #24475b; } }
/* shopping cart styles */
/* wallet page styles */
.wallet-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .wallet-page-wrapper .wallet-header {
    position: relative;
    width: 100%; }
  .wallet-page-wrapper .back {
    position: absolute;
    top: 0px;
    right: 10px;
    color: #24475b;
    background-color: #ebebeb;
    font-size: 40px;
    border-radius: 10px;
    border: 2px solid;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .wallet-page-wrapper .back i {
      position: relative;
      right: -3px; }
  .wallet-page-wrapper .wallet-page-title {
    font-size: 40px;
    text-align: center;
    width: 100%;
    margin-bottom: 50px; }
  .wallet-page-wrapper .main-content {
    width: 98%;
    border-radius: 60px;
    padding: 40px 30px 20px;
    background-image: linear-gradient(to left, #24475b, #24475bc9);
    color: #ebebeb;
    font-size: 15px; }
  .wallet-page-wrapper .wallet-title {
    text-align: right;
    font-size: 30px;
    margin: 0 0 10px; }
  .wallet-page-wrapper .wallet-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 0 50px; }
  .wallet-page-wrapper .increase-title {
    font-size: 20px;
    border-bottom: 1px solid #ebebeb;
    padding: 0 5px 5px;
    border-radius: 40px;
    margin: 0 0 20px;
    text-align: center; }
  .wallet-page-wrapper .way-to-increase-title {
    margin: 0 0 10px; }
  .wallet-page-wrapper .sina {
    background-color: red;
    width: 100px; }

/* wallet page styles */
/* single prod page styles */
.modal-pacle-holder {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: -1;
  transition: all ease-in-out 0.5s;
  background-color: #ebebeb;
  overflow-y: scroll;
  padding: 30px 10px; }

.cart-pop-up {
  height: 70vh;
  width: 94vw;
  border-radius: 40px;
  right: 3vw;
  box-shadow: 0px 0px 10px 0px; }

.single-prod-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .single-prod-wrapper .single-prod-header {
    position: relative;
    width: 100%; }
  .single-prod-wrapper .back {
    position: absolute;
    top: 0px;
    right: 10px;
    color: #24475b;
    background-color: #ebebeb;
    font-size: 40px;
    border-radius: 10px;
    border: 2px solid;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .single-prod-wrapper .back i {
      position: relative;
      right: -3px; }
  .single-prod-wrapper .single-prod-page-title {
    font-size: 30px;
    text-align: center;
    width: 100%;
    margin: 50px 0; }
  .single-prod-wrapper .main-content {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0 10px; }
    .single-prod-wrapper .main-content * {
      flex: 1; }
  .single-prod-wrapper .details {
    width: 100%;
    margin: 50px 0 0; }
  .single-prod-wrapper .pages-details-wrapper {
    margin-bottom: 30px; }
  .single-prod-wrapper ul {
    padding: 0 40px;
    font-size: 15px; }
  .single-prod-wrapper .book-img-price-wrapper {
    background-color: #2ed18e;
    padding: 30px 0;
    width: 100%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .single-prod-wrapper img {
    width: 220px;
    display: block;
    max-width: 100%;
    margin: 0 auto 50px;
    border-radius: 5px;
    position: relative;
    z-index: 3;
    box-shadow: 0px 5px 15px 0 #00000080; }
  .single-prod-wrapper .price-wrapper {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: 20px 0 0; }
    .single-prod-wrapper .price-wrapper::before {
      width: 290px;
      height: 150px;
      content: '';
      border-radius: 80px;
      background-image: linear-gradient(to left, #24475b, #24475bc9);
      display: block;
      position: absolute;
      top: -180px;
      right: 30px;
      z-index: 2; }
    .single-prod-wrapper .price-wrapper .price {
      font-size: 30px;
      margin-left: 10px; }
  .single-prod-wrapper .single-prod-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 50px 0 100px; }
    .single-prod-wrapper .single-prod-footer * {
      flex: 1; }
    .single-prod-wrapper .single-prod-footer .more, .single-prod-wrapper .single-prod-footer .less, .single-prod-wrapper .single-prod-footer .quantity {
      font-size: 30px;
      border: 1px solid;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 50px;
      border-radius: 10px;
      color: #ebebeb; }
    .single-prod-wrapper .single-prod-footer .more {
      background-color: #05a986;
      border-color: #05a986; }
    .single-prod-wrapper .single-prod-footer .less {
      background-color: #ec5d63;
      border-color: #ec5d63; }
    .single-prod-wrapper .single-prod-footer .quantity {
      margin: 0 20px;
      background-color: #24475b;
      border-color: #24475b;
      padding-top: 5px; }

/* single prod page styles */
/* cart final stage page */
.cart-final-stage-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .cart-final-stage-wrapper .cart-header {
    position: relative;
    width: 100%; }
  .cart-final-stage-wrapper .back {
    position: absolute;
    top: 0px;
    right: 10px;
    color: #24475b;
    background-color: #ebebeb;
    font-size: 40px;
    border-radius: 10px;
    border: 2px solid;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .cart-final-stage-wrapper .back i {
      position: relative;
      right: -3px; }
  .cart-final-stage-wrapper .cart-page-title {
    font-size: 40px;
    text-align: center;
    width: 100%;
    margin-bottom: 50px; }
  .cart-final-stage-wrapper .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 10px; }
    .cart-final-stage-wrapper .main-content .cart-details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-size: 15px;
      margin: 0 0 50px; }
    .cart-final-stage-wrapper .main-content .view-btn {
      color: #ebebeb;
      background-color: unset;
      font-size: 15px;
      border-radius: 20px;
      padding: 2px 10px;
      background-image: linear-gradient(to left, #24475b, #24475bc9); }
    .cart-final-stage-wrapper .main-content .cart-notice {
      font-size: 15px;
      text-align: justify;
      margin: 0 0 50px; }
    .cart-final-stage-wrapper .main-content .notice {
      color: #24475b;
      background-color: #ebebeb;
      font-size: 15px;
      border-radius: 20px;
      border: 1px solid #24475b;
      padding: 2px 10px 2px 3px;
      margin: 0 0 0 5px; }
    .cart-final-stage-wrapper .main-content .cart-items-details {
      width: 100%;
      border: 3px solid #24475b;
      border-radius: 50px;
      font-size: 15px;
      padding: 20px 30px 10px; }
      .cart-final-stage-wrapper .main-content .cart-items-details div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid;
        padding: 0 10px 5px;
        margin-bottom: 10px; }
      .cart-final-stage-wrapper .main-content .cart-items-details .total-price {
        font-size: 10px; }
        .cart-final-stage-wrapper .main-content .cart-items-details .total-price .price {
          font-size: 15px; }
    .cart-final-stage-wrapper .main-content .pay-btn-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 50px 0;
      color: #ebebeb;
      background-color: #05a986;
      font-size: 17px;
      border-radius: 40px;
      padding: 5px 20px;
      text-decoration: none; }
    .cart-final-stage-wrapper .main-content .pay-amount {
      flex-grow: 1;
      text-align: center; }
      .cart-final-stage-wrapper .main-content .pay-amount .curency {
        font-size: 12px; }
    .cart-final-stage-wrapper .main-content .pointer {
      font-size: 25px; }

/* cart final stage page */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  font-size: 15px;
  background-color: #24475b;
  position: fixed;
  bottom: -1px;
  width: 100%;
  color: #ebebeb;
  right: 0;
  text-align: center;
  z-index: 99999; }
  footer .it-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  footer .cart-item-number {
    position: relative;
    right: -10px;
    flex: 0 0 30px !important;
    width: 30px;
    height: 30px;
    color: #05a986;
    background-color: #ebebeb;
    font-size: 10px;
    border-radius: 50%;
    border: 1px solid #05a986;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    padding: 3px 0 0 0; }
  footer * {
    flex: 1; }

/*# sourceMappingURL=index.css.map */
