@import "variables";
@import "mixins";
@import url(./fonts/font.css);
body {
    padding: 0;
    margin: 0;
    direction: rtl;
    overflow-x: hidden !important;
    font-size: 20px;
    font-family: "main-font";
    color: $mainColor;
    line-height: 35px;
    width: 100%!important;
    min-width: 300px;
    background-color: $background;
}
body {
    * {
        box-sizing: border-box !important;
        margin: 0;
        padding: 0;
    }
}


.loading{
    width: 100vw;
    height: 100vh;
    @include flexMixin(row,center,center);
    font-size: 100px;
    color: $mainColor;
    animation-name: spinMF;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.main-area{
    padding:30px 10px 0;
    margin-bottom: 100px;
}

/* first page styles */
@keyframes spinMF {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.first-page{
    .greetings{
        color: $secondaryColor;
    }
    .user-info{
        font-size: 20px;
    }
    .greeting-messsage{
        font-size: 35px;
        margin: 30px 0;
        text-align: center;
        line-height: 50px;
    }
    .usersName-wrapper{
        @include styler($background, $mainColor, 22px, 50px);
        padding: 5px 10px;
        margin: 0 5px;
    }
    .wallet-wrapper{
        @include styler($background, $mainColor, 20px, 100px);
        padding: 20px 20px;
        @include flexMixin(row, space-between , center);
    }
    .wallet-title-wrapper{
        .wallet-title{
            font-size : 30px;
        }
    }
    .wallet-info{
        @include flexMixin(row, center, center);
        font-size: 15px;
        margin-top: 10px;
    }
    .sperator{
        margin:0 5px;
    }
    .books-class-wrapper{
        @include flexMixin(row,space-evenly,center);
        margin-top: 50px;
    }
    .book-class-btns{
        width: 150px;
        height: 130px;
        @include flexMixin(row,center,center);
        @include styler ($mainColor,$background,25px,20px);
        border: 2px solid $mainColor;
    }
}
/* first page styles */

/* books page styles */

.books-wrapper{
    
    .books-header{
        position: relative;
        width: 100%;
    }
    .back{
        position: absolute;
        top: 0px;
        right:10px;
        @include styler($mainColor,$background,40px,10px);
        border: 2px solid;
        width: 40px;
        height: 40px;
        @include flexMixin (row,center,center);
        i{
            position: relative;
            right: -3px;
        }
    }
    .books-page-title{
        font-size: 40px;
        text-align: center;
        width: 100%;
        margin-bottom: 50px;
    }
    .book-order{
        @include flexMixin(row,space-between,center);
        width: 100%;
        padding: 10px 20px;
        @include styler($background,$mainColor,20px,50px);
    }
    .main-content{
        @include flexMixin(column,center,center);
    }
    .filters-wrapper{
        @include flexMixin(row,space-between,center);
        width: 100%;
        border: 2px solid;
        border-radius: 50px;
        padding: 0 10px;
        margin: 30px 0;
        *{
            flex: 1;
            
        }
    }
    .filters{
        @include flexMixin(row,center,center);
        text-align: center;
        display: inline-block;
        padding: 10px 0;
        height: 100%;
        font-size: 15px;
    }
    .fil-2{
        border-right: 2px solid;
        border-left: 2px solid;
        padding: 10px 10px;
    }
    .books{
        @include flexMixin(column,center,center);
        width: 100%;
        .book-item{
            @include flexMixin(column,center,center);
            position: relative;
            background-color: $extraColor1;
            padding: 90px 0 10px;
            border-radius: 20px;
            text-align: center;
            width: 80%;
            margin-top: 200px;
            // &::after{
            //     position: absolute;
            //     width: 250px;
            //     height: 100px;
            //     content: '';
            //     border-radius: 50px;
            //     background-color: $mainColor;
            //     z-index: 2;
            //     margin: -250px 0px 0 0;
            // }
        }
        img{
            width: 180px;
            border-radius: 15px;
            position: absolute;
            z-index: 3;
            margin-bottom: 20px;
            box-shadow:0px 10px 15px 0 #00000080;
            top: -170px;
        }
        .publisher{
            font-size: 15px;
            color: #e8e8a6;
        }
        .book-name{
            font-size: 25px;
            margin: 20px 0;
        }
        .book-price{
            @include styler($mainColor,$background,20px,10px);
            border: 2px solid;
            padding: 5px 15px;
        }
        .action-btns{
            @include flexMixin(row,space-evenly,center);
            width: 60%;
            margin: 30px 0 10px;
            *{
                flex : 1;
            }
            .add-book{
                @include flexMixin(row, center, center);
                i{
                    @include flexMixin(row,center,center);
                    width: 40px;
                    height: 40px;
                    border: 2px solid #008000;
                    @include styler(#008000, $extraColor1 , 17px, 10px);
                }
            }
            .book-quantity{
                @include flexMixin(row,center,center);
            }
            .decrment-book{
                @include flexMixin(row, center, center);
                i{
                    @include flexMixin(row, center, center);
                    width: 40px;
                    height: 40px;
                    border: 2px solid #ff6565;
                    @include styler(#ff6565, $extraColor1 , 17px, 10px);
                }
            }
        }
    }
    .publisher-item , .book-year-item , .subject-item{
        width: 80%;
        margin-bottom : 20px;
        &::before {
                content: '';
                width: 20px;
                height: 20px;
                display: inline-block;
                background-color: $mainColor;
                border-radius: 50%;
                position: relative;
                top: 5px;
                margin-left: 11px;
        }
    }
}


/* books page styles */


/* shopping cart styles */
.cart-wrapper{
    @include flexMixin(column,center,center);
    width: 100%;
    .cart-header {
            position: relative;
            width: 100%;
    }
    .back {
        position: absolute;
        top: 0px;
        right: 10px;
        @include styler($mainColor, $background, 40px, 10px);
        border: 2px solid;
        width: 40px;
        height: 40px;
        @include flexMixin (row, center, center);

        i {
            position: relative;
            right: -3px;
        }
    }

    .cart-page-title {
        font-size: 40px;
        text-align: center;
        width: 100%;
        margin-bottom: 50px;
    }

    .cart-is-empty{

        @include flexMixin(column,center,center);
        display: none;
        width: 100%;
        .empty-text{
            font-size: 25px;
            text-align: center;
            animation-name: growMF;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            animation-direction: alternate-reverse;

        }
    }
    .go-to-book-page{
        @include styler($background,$mainColor,25px,40px);
        border: 2px solid;
        padding: 10px 20px;
        margin: 20px 0;
    }
    .cart-main-content{
        @include flexMixin(column,center,center);
        width: 95%;
        background-color: $extraColor1;
        border-radius: 40px;
        padding: 20px 0;
    }
    .cart-items{
        width: 100%;
        padding: 0 20px;
    }
    .cart-item{
        width: 100%;
        @include flexMixin(row,space-between,center);
        font-size: 15px;
        margin: 0 0 20px;
        border-bottom: 1px solid $mainColor;
        border-top: 1px solid $mainColor;
        border-radius: 10px;
        padding: 20px 0;
    }
    .details{
        text-align: center;
    }
    .cart-item-name{
        @include styler($mainColor,$background,15px,40px 0 40px 40px);
        margin-bottom: 5px;
        border: 1px solid;
        padding: 2px 5px;
    }
    .cart-item-actions{
        @include flexMixin(column,center,center);
        width: 40px;
    }
    .more{
        i{
            @include flexMixin(row,center,center);
            @include styler(#008000 , $extraColor1 , 15px,10px);
            width: 30px;
            height: 30px;
            border: 2px solid;
        }
    }
    .less {
        i {
            @include flexMixin(row, center, center);
            @include styler(#ff6565, $extraColor1 , 15px, 10px);
            width: 30px;
            height: 30px;
            border: 2px solid;
        }
    }
    .quantity{
        @include styler($mainColor , $background , 15px, 10px);
        width: 30px;
        height: 30px;
        border: 1px solid;
        @include flexMixin(row,center,center);
        margin: 5px 0;
    }
    img{
        width: 60px;
        border-radius: 10px;
        box-shadow: 0px 10px 15px 0 #00000080;
    }
    .totalprice-wrapper{
        @include flexMixin(row,space-between,center);
        width: 100%;
        padding: 0 20px;
        .label{
            @include styler($mainColor,$background,18px,40px 0 40px 40px);
            border: 1px solid;
            padding: 5px 10px;
        }
        .total-price{
            font-size: 12px;
            color: #008000;
        }
        .price{
            font-size: 20px;
        }
    }
}
@keyframes growMF {
    from{
        transform: scale(0.5);
        color: $mainWhite;
    }
    to{
        transform: scale(1.2);
        color: $mainColor;
    }
}


/* shopping cart styles */

footer{
    @include flexMixin(row,space-evenly,center);
    height: 50px;
    background-color: $mainColor;
    position: fixed;
    bottom: -1px;
    width: 100%;
    color: $background;
    right: 0;
    text-align: center;
    z-index: 99999;
    *{
        flex: 1;
    }
}