@import url(./fonts/font.css);
html {
  scroll-behavior: smooth; }

body {
  padding: 0 0 50px 0;
  margin: 0;
  direction: rtl;
  overflow-x: hidden !important;
  font-size: 15px;
  font-family: "main-font";
  color: #3f51b5;
  line-height: 35px;
  width: 100% !important;
  min-width: 300px;
  background-color: #f8f8f8; }
  body * {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0; }

a {
  text-decoration: none !important; }

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto; }

.root {
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8; }

.welcome-wrapper {
  width: 100%;
  height: 100%;
  background-color: #3f51b5;
  color: #f8f8f8; }
  .welcome-wrapper .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
  .welcome-wrapper .close-wrapper {
    margin: 30px 30px 0;
    background-color: #F5A623;
    width: 38px;
    height: 38px;
    border-radius: 8px;
    position: relative; }
    .welcome-wrapper .close-wrapper div {
      width: 25px;
      height: 2px;
      background-color: #f8f8f8;
      position: absolute;
      top: 18px;
      right: 6px; }
    .welcome-wrapper .close-wrapper .close-right {
      transform: rotate(45deg); }
    .welcome-wrapper .close-wrapper .close-left {
      transform: rotate(-45deg); }
  .welcome-wrapper .welcome-text {
    font-size: 16px;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end; }
  .welcome-wrapper .gif-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 0; }
    .welcome-wrapper .gif-wrapper img {
      width: 250px;
      height: 250px;
      background-color: #f8f8f8;
      border-radius: 50%;
      padding: 20px; }
  .welcome-wrapper .start-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 150px 0;
    width: 100%; }
    .welcome-wrapper .start-btn .content {
      width: 90%;
      color: #3f51b5;
      background-color: #ebebeb;
      font-size: 27px;
      border-radius: 25px;
      border: 1px solid #ebebeb;
      height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }

.main-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .main-page .header {
    width: 100%;
    padding: 20px 40px;
    font-size: 24px; }
    .main-page .header .welcome-to-shop {
      font-size: 16px;
      margin: 10px 0 0; }
  .main-page .wallet-wrapper {
    width: 90%;
    color: #f8f8f8;
    background-color: #3f51b5;
    font-size: 16px;
    border-radius: 20px;
    padding: 20px 40px;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.05); }
    .main-page .wallet-wrapper .wallet-title {
      width: 100%;
      text-align: center;
      font-size: 24px;
      margin: 0 0 10px; }
  .main-page .more-credit-wrapper {
    width: 90%;
    color: #3f51b5;
    background-color: #fff;
    font-size: 24px;
    border-radius: 20px;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.05);
    position: relative;
    height: 60px;
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .main-page .more-credit-wrapper .plus-wrapper {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 27px;
      right: 60px; }
      .main-page .more-credit-wrapper .plus-wrapper span {
        display: block;
        width: 27px;
        height: 2px;
        background-color: #F5A623; }
      .main-page .more-credit-wrapper .plus-wrapper .plus-vertical {
        transform: rotate(90deg);
        position: relative;
        top: 2px; }
    .main-page .more-credit-wrapper .credit-text {
      margin-right: 50px; }
  .main-page .books-and-class-btn-wrapper {
    margin: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .main-page .books-and-class-btn-wrapper .box-btn {
      margin: 0 20px;
      width: 140px;
      height: 140px;
      box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.05);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #f8f8f8;
      background-color: #F5A623;
      font-size: 24px;
      border-radius: 20px; }
      .main-page .books-and-class-btn-wrapper .box-btn img {
        width: 30px;
        margin: 10px 0 0; }
  .main-page .best-of-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .main-page .best-of-wrapper .best-of-box {
      margin: 0 0 15px;
      width: 100%;
      color: #3f51b5;
      background-color: #fff;
      font-size: 16px;
      border-radius: 20px;
      box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.05);
      height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
    .main-page .best-of-wrapper .best-of-title {
      margin-right: 10px;
      color: #F5A623; }

footer {
  width: 100%;
  position: fixed;
  bottom: -1px;
  right: 0;
  z-index: 200;
  color: #f8f8f8;
  background-color: #3f51b5;
  font-size: 15px;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 85px; }
  footer * {
    flex: 1; }
  footer .footer-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0 0; }
  footer img {
    width: 20px;
    margin: 0 0 5px; }

/*# sourceMappingURL=new-ui.css.map */
