@import url(./fonts/font.css);
html {
  scroll-behavior: smooth; }

body {
  padding: 0;
  margin: 0;
  direction: rtl;
  overflow-x: hidden !important;
  font-size: 15px;
  font-family: "main-font";
  color: #3f51b5;
  line-height: unset !important;
  width: 100% !important;
  min-width: 300px;
  background-color: #f8f8f8; }
  body * {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0; }
  body .search-modal {
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100vw;
    height: calc(100vh - 100px);
    padding-bottom: 100px;
    overflow-y: scroll;
    z-index: 99;
    color: #000;
    background-color: #DCDCDC;
    font-size: 16px;
    border-radius: 0;
    padding: 20px 0;
    transition: all ease-in-out 0.6s; }
    body .search-modal .search-result {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 15px 0 0; }
    body .search-modal .search-result-item {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      background-color: #fff;
      border-radius: 0px 20px 20px 0px;
      padding: 24px 13px;
      margin: 20px 0px;
      border: 0px; }
      body .search-modal .search-result-item img {
        width: 80px;
        border-radius: 15px;
        box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.05); }
    body .search-modal .book-details {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex: 0 0 250px; }
      body .search-modal .book-details .prices .discounted-price {
        display: none; }
      body .search-modal .book-details .has-discount .normal-price {
        text-decoration: line-through;
        font-size: 13px; }
      body .search-modal .book-details .has-discount .discounted-price {
        display: unset; }

a {
  text-decoration: none !important; }

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto; }

.root {
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8; }

.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: #3f51b5;
  position: relative;
  z-index: 99999;
  background-color: #fff; }
  .loading i {
    animation-name: spinMF;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; }

@keyframes spinMF {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.pause {
  width: 100vw;
  height: 100vh;
  color: #3f51b5;
  font-size: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ebebeb;
  opacity: 0.6;
  z-index: 999999;
  display: none; }
  .pause i {
    animation-name: spinMF;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; }

.error-modal {
  width: 90vw;
  height: 100px;
  border-radius: 20px;
  position: fixed;
  top: 10px;
  right: 5vw;
  background-color: #f8f8f8;
  border: 2px solid #3f51b5;
  overflow: scroll;
  box-shadow: 0px 10px 15px 0 #00000080;
  transition: all ease-in-out .5s;
  transform: scale(0);
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999999; }
  .error-modal .err-message {
    color: #ec5d63; }

.welcome footer,
.welcome .move-to-top {
  display: none !important; }

.move-to-top {
  width: 60px;
  height: 60px;
  color: #f8f8f8;
  background-color: #3f51b5;
  font-size: 40px;
  border-radius: 50%;
  position: fixed;
  right: 10px;
  bottom: 90px;
  z-index: 9999;
  box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.search-modal {
  position: fixed;
  top: -100vh;
  left: 2vw;
  width: 96vw;
  min-height: 100px;
  max-height: calc(100vh - 150px);
  overflow-y: scroll;
  z-index: 99;
  color: #24475b;
  background-color: #2ed18e;
  font-size: 15px;
  border-radius: 50px;
  padding: 20px 0;
  transition: all ease-in-out 0.6s; }
  .search-modal input {
    display: block;
    margin: 0 auto 30px;
    width: 80%;
    height: 50px;
    border: 2px solid #24475b;
    border-radius: 20px;
    outline: none !important;
    font-size: 15px;
    font-family: "main-font";
    padding: 10px; }
  .search-modal .search-result {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .search-modal .search-result-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #24475b;
    border-radius: 40px;
    width: 90%;
    padding: 0 30px;
    margin: 20px 0px; }
    .search-modal .search-result-item img {
      width: 60px;
      border-radius: 15px;
      margin-bottom: 20px;
      box-shadow: 0px 10px 15px 0 #00000080; }
    .search-modal .search-result-item span {
      margin-right: 20px;
      font-size: 15px; }

.modal-pacle-holder {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: -1;
  transition: all ease-in-out 0.5s;
  background-color: #ebebeb;
  overflow-y: scroll;
  padding: 30px 10px; }

.filter-by-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  top: 0 !important;
  background-color: #00000042 !important; }
  .filter-by-modal .wrapper-sort-by {
    width: 80%;
    background-color: #fff;
    border: 2px solid #F5A623;
    color: #3f51b5;
    background-color: #fff;
    font-size: 24px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px; }
    .filter-by-modal .wrapper-sort-by .sort-by-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .filter-by-modal .wrapper-sort-by .sort {
      width: 65%;
      text-align: center;
      margin: 0 0 30px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
      .filter-by-modal .wrapper-sort-by .sort::before {
        margin-left: 15px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        content: ' ';
        border: 1px solid #3f51b5;
        background-color: #3f51b5; }
    .filter-by-modal .wrapper-sort-by .disabled::before {
      background-color: #fff !important; }
    .filter-by-modal .wrapper-sort-by .save_and_return_btn.srt {
      color: #fff;
      background-color: #3f51b5;
      font-size: 23px;
      border-radius: 50px;
      padding: 5px 10px;
      border: 1px solid #3f51b5;
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }

.cart-pop-up {
  height: 70vh;
  width: 94vw;
  border-radius: 40px;
  right: 3vw;
  box-shadow: 0px 0px 10px 0px; }

/* welcome wrapper styles */
.welcome-wrapper {
  width: 100%;
  height: 100%;
  background-color: #3f51b5;
  color: #f8f8f8;
  transition: all ease-in-out 0.3s;
  transform: scale(0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .welcome-wrapper .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
  .welcome-wrapper .close-wrapper {
    margin: 30px 30px 0;
    background-color: #F5A623;
    width: 38px;
    height: 38px;
    border-radius: 8px;
    position: relative; }
    .welcome-wrapper .close-wrapper div {
      width: 25px;
      height: 2px;
      background-color: #f8f8f8;
      position: absolute;
      top: 18px;
      right: 6px; }
    .welcome-wrapper .close-wrapper .close-right {
      transform: rotate(45deg); }
    .welcome-wrapper .close-wrapper .close-left {
      transform: rotate(-45deg); }
  .welcome-wrapper .welcome-text {
    font-size: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  .welcome-wrapper .gif-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 0; }
    .welcome-wrapper .gif-wrapper img {
      width: 250px;
      height: 250px;
      background-color: #f8f8f8;
      border-radius: 50%;
      padding: 20px; }
  .welcome-wrapper .start-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .welcome-wrapper .start-btn .content {
      width: 90%;
      color: #3f51b5;
      background-color: #ebebeb;
      font-size: 27px;
      border-radius: 25px;
      border: 1px solid #ebebeb;
      height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }

/* welcome wrapper styles */
/* styles for main page */
.main-page {
  width: 100%;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transform: scale(0); }
  .main-page .header {
    width: 100%;
    padding: 20px 40px;
    font-size: 24px; }
    .main-page .header .welcome-to-shop {
      font-size: 16px;
      margin: 10px 0 0; }
  .main-page .wallet-wrapper {
    width: 90%;
    color: #f8f8f8;
    background-color: #3f51b5;
    font-size: 16px;
    border-radius: 20px;
    padding: 20px 40px;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.05);
    margin: 20px 0 0; }
    .main-page .wallet-wrapper .wallet-title {
      width: 100%;
      text-align: center;
      font-size: 24px;
      margin: 0 0 10px; }
  .main-page .more-credit-wrapper {
    width: 90%;
    color: #3f51b5;
    background-color: #fff;
    font-size: 24px;
    border-radius: 20px;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.05);
    position: relative;
    height: 60px;
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .main-page .more-credit-wrapper .plus-wrapper {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 27px;
      right: 60px; }
      .main-page .more-credit-wrapper .plus-wrapper span {
        display: block;
        width: 27px;
        height: 2px;
        background-color: #F5A623; }
      .main-page .more-credit-wrapper .plus-wrapper .plus-vertical {
        transform: rotate(90deg);
        position: relative;
        top: 2px; }
    .main-page .more-credit-wrapper .credit-text {
      margin-right: 50px; }
  .main-page .books-and-class-btn-wrapper {
    margin: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .main-page .books-and-class-btn-wrapper .box-btn {
      margin: 0 20px;
      width: 140px;
      height: 140px;
      box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.05);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #f8f8f8;
      background-color: #F5A623;
      font-size: 24px;
      border-radius: 20px; }
      .main-page .books-and-class-btn-wrapper .box-btn img {
        width: 30px;
        margin: 10px 0 0; }
  .main-page .best-of-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .main-page .best-of-wrapper .best-of-box {
      margin: 0 0 15px;
      width: 100%;
      color: #3f51b5;
      background-color: #fff;
      font-size: 16px;
      border-radius: 20px;
      box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.05);
      height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
    .main-page .best-of-wrapper .best-of-title {
      margin-right: 10px;
      color: #F5A623; }

/* styles for main page */
.books-page-wrapper {
  width: 100%;
  transition: all ease-in-out 0.3s;
  opacity: 0;
    /*.back {
        position: absolute;
        top: 20px;
        right: 10px;
        @include styler($mainColor, $secondaryColor1, 40px, 10px);
        width: 40px;
        height: 40px;
        @include flexMixin (row, center, center);
        img {
            width: 20px;
            transform: rotateY(180deg);
            left: 1px;
            position: relative;
        }
    }

    .search-icon {
        position: absolute;
        top: 20px;
        left: 10px;
        @include styler($background1, $secondaryColor1, 17px, 10px);
        border: 2px solid;
        width: 40px;
        height: 40px;
        @include flexMixin (row, center, center);
        i {
            position: relative;
            right: 0px;
        }
    }
*/ }
  .books-page-wrapper .header {
    position: fixed;
    width: 100vw;
    background-color: #f8f8f8;
    right: 0;
    top: 0px;
    padding: 30px 30px 10px;
    z-index: 14;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .books-page-wrapper .header .coin-wrapper, .books-page-wrapper .header .wallet-wrapper {
      position: relative;
      top: -15px; }
      .books-page-wrapper .header .coin-wrapper img, .books-page-wrapper .header .wallet-wrapper img {
        width: 30px; }
    .books-page-wrapper .header .coin-count {
      width: 20px;
      height: 20px;
      position: absolute;
      color: #fff;
      background-color: #3f51b5;
      font-size: 8px;
      border-radius: 50%;
      top: 15px;
      right: 12px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
    .books-page-wrapper .header .wallet-count {
      min-width: 60px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 17px;
      left: 15px;
      color: #fff;
      background-color: #3f51b5;
      font-size: 8px;
      border-radius: 8px; }
  .books-page-wrapper .search-back-wrapper {
    width: 100%;
    padding: 0 20px;
    margin: 0 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .books-page-wrapper .search-back-wrapper .search-wrapper {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
      .books-page-wrapper .search-back-wrapper .search-wrapper input {
        font-family: "main-font";
        width: 95%;
        height: 40px;
        border-radius: 8px;
        border: 1px solid #C9C9C9;
        background-color: #f8f8f8;
        padding: 0 5px 0 30px; }
      .books-page-wrapper .search-back-wrapper .search-wrapper img {
        position: absolute;
        width: 20px;
        top: 9px;
        left: 25px; }
    .books-page-wrapper .search-back-wrapper .back {
      color: #24475b;
      background-color: #F5A623;
      font-size: 40px;
      border-radius: 10px;
      width: 40px;
      height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex: 0 0 40px; }
      .books-page-wrapper .search-back-wrapper .back img {
        width: 20px; }
  .books-page-wrapper .books-page-title {
    font-size: 24px;
    text-align: center;
    width: fit-content;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -4px; }
  .books-page-wrapper .main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.05);
    padding: 20px;
    padding: 100px 0 0; }
  .books-page-wrapper .sort-by-wrapper {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    .books-page-wrapper .sort-by-wrapper .content {
      color: #3f51b5;
      margin-left: 5px;
      font-size: 16px; }
    .books-page-wrapper .sort-by-wrapper .go-to-sort-by {
      width: 20px;
      height: 20px; }
    .books-page-wrapper .sort-by-wrapper img {
      width: 15px;
      position: relative;
      top: 5px; }
  .books-page-wrapper .filters-wrapper {
    margin: 20px 0;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    column-gap: 10px;
    text-align: center; }
    .books-page-wrapper .filters-wrapper .filter {
      color: #fff;
      background-color: #F5A623;
      font-size: 14px;
      border-radius: 20px;
      border: 1px solid #F5A623;
      padding: 15px 0; }
  .books-page-wrapper .books-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
    row-gap: 25px;
    width: 100%;
    padding: 0 20px; }
  .books-page-wrapper .filters-are-activated {
    grid-template-columns: repeat(1, 1fr) !important;
    width: 85%;
    padding: 0 0 140px; }
  .books-page-wrapper .book {
    position: relative;
    padding: 5px;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.05);
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    /*.btns-wrapper{
        @include flexMixin(row,center,center);
        .add-book,.book-quantity,.decrment-book{
            width: 30px;
            height: 30px;
            @include flexMixin(row,center,center);
            border-radius: 10px;
            font-size: 15px;
            color: $mainWhite;
            text-align: center;
        }
        .add-book{
            background-color: $greenColor;
        }
        .decrment-book{
            background-color: $redColor;
        }
        .book-quantity{
            border: 1px solid;
            color: $mainBlack;
            margin: 10px;
            padding: 2px 0 0 0;
        }
        *{
            flex: 1;
        }
    }
    .quan-0{
        .book-quantity , .decrment-book{
            display: none;
        }
    }*/ }
    .books-page-wrapper .book .img-wrapper {
      height: 181px;
      background-color: #00000010;
      width: 136px;
      overflow: hidden;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
    .books-page-wrapper .book img {
      border-radius: 10px;
      width: 136px;
      height: auto; }
    .books-page-wrapper .book .title {
      font-size: 14px;
      margin-top: 10px; }
    .books-page-wrapper .book .publisher {
      font-size: 12px;
      margin-bottom: 5px; }
    .books-page-wrapper .book .prices-wrapper {
      font-size: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px; }
    .books-page-wrapper .book .has-discount .price {
      color: #393F45;
      text-decoration: line-through; }
    .books-page-wrapper .book .btns-wrapper {
      position: absolute;
      background-color: #3f51b5;
      z-index: 13;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      top: 5px;
      right: 10px;
      transition: all ease-in-out 0.3s; }
      .books-page-wrapper .book .btns-wrapper img {
        width: 14px; }
  .books-page-wrapper .quan-0 .btns-wrapper {
    transform: scale(0); }
  .books-page-wrapper .page-count {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    direction: ltr;
    margin: 20px 0 120px;
    row-gap: 10px;
    width: 90%; }
    .books-page-wrapper .page-count .page-number {
      color: #3f51b5;
      background-color: #fff;
      font-size: 15px;
      border-radius: 5px;
      border: 1px solid #3f51b5;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      padding-top: 4px; }
    .books-page-wrapper .page-count .active-page {
      color: #FFF;
      background-color: #3f51b5; }
    .books-page-wrapper .page-count .previus-page,
    .books-page-wrapper .page-count .next-page {
      padding-top: 0px;
      font-size: 20px; }
    .books-page-wrapper .page-count .next-page i {
      position: relative;
      left: 1px; }
  .books-page-wrapper .publisher-item,
  .books-page-wrapper .book-year-item,
  .books-page-wrapper .subject-item,
  .books-page-wrapper .course-item {
    width: 100%;
    margin-bottom: 0px; }
    .books-page-wrapper .publisher-item::before,
    .books-page-wrapper .book-year-item::before,
    .books-page-wrapper .subject-item::before,
    .books-page-wrapper .course-item::before {
      content: '';
      width: 20px;
      height: 20px;
      display: inline-block;
      background-color: #3f51b5;
      border-radius: 50%;
      border: 1px solid;
      position: relative;
      top: 5px;
      margin-left: 11px; }
  .books-page-wrapper .disabled::before {
    background-color: #fff !important; }
  .books-page-wrapper .fixed-btn {
    position: fixed;
    top: 50vh;
    left: 5vw; }
  .books-page-wrapper .save_and_return_btn {
    color: #3f51b5;
    background-color: #fff;
    font-size: 15px;
    border-radius: 50px;
    border: 2px solid #3f51b5;
    padding: 5px 20px;
    margin: 40px auto; }

.cart-page-wrapper {
  transition: all ease-in-out 0.3s;
  opacity: 0;
  padding: 20px 20px 330px; }
  .cart-page-wrapper .cart-map-btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .cart-page-wrapper .cart-map-btns .clear-cart {
      background-color: #3f51b5;
      width: 40px;
      height: 40px;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .cart-page-wrapper .cart-map-btns .clear-cart img {
        width: 20px; }
    .cart-page-wrapper .cart-map-btns .back {
      background-color: #F5A623;
      width: 40px;
      height: 40px;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .cart-page-wrapper .cart-map-btns .back img {
        width: 20px; }
  .cart-page-wrapper .page-title {
    color: #393F45;
    font-size: 24px;
    margin: 20px 0; }
  .cart-page-wrapper .cart-items-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .cart-page-wrapper .cart-items-wrapper .cart-item {
      width: 100%;
      margin: 0 0 25px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center; }
      .cart-page-wrapper .cart-items-wrapper .cart-item .img-wrapper {
        max-width: 100px; }
        .cart-page-wrapper .cart-items-wrapper .cart-item .img-wrapper img {
          border-radius: 16px;
          box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.05); }
    .cart-page-wrapper .cart-items-wrapper .prod-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      width: 155px; }
    .cart-page-wrapper .cart-items-wrapper .prod-name {
      font-size: 16px;
      color: #393F45; }
    .cart-page-wrapper .cart-items-wrapper .prod-price {
      font-size: 16px;
      color: #8A8A8A;
      margin: 10px 0; }
    .cart-page-wrapper .cart-items-wrapper .prod-btn-action {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 7px 15px;
      border: 1px solid #C1C1C1;
      background-color: #fff;
      border-radius: 24px; }
      .cart-page-wrapper .cart-items-wrapper .prod-btn-action img {
        width: 15px; }
    .cart-page-wrapper .cart-items-wrapper .quantity {
      color: #000;
      font-size: 16px;
      margin: 0 30px; }
    .cart-page-wrapper .cart-items-wrapper .quan-1 .trash {
      display: none; }
    .cart-page-wrapper .cart-items-wrapper .remove-btn {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #3f51b5;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.05); }
      .cart-page-wrapper .cart-items-wrapper .remove-btn img {
        width: 17px; }
  .cart-page-wrapper .cart-footer {
    width: 100vw;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    position: fixed;
    bottom: 80px;
    right: 0;
    height: 230px;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
  .cart-page-wrapper .date {
    color: #F5A623;
    font-size: 24px;
    margin: 0 0 10px; }
  .cart-page-wrapper .total-price {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 26px; }
    .cart-page-wrapper .total-price .title {
      color: #8A8A8A; }
    .cart-page-wrapper .total-price .total-price-amount {
      color: #000; }
    .cart-page-wrapper .total-price .toman {
      font-size: 8px;
      color: #000; }
  .cart-page-wrapper .has-discount .total-price-amount {
    text-decoration: line-through;
    font-size: 20px; }
  .cart-page-wrapper .checkout-btn {
    width: 100%;
    color: #fff;
    background-color: #3f51b5;
    font-size: 24px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 58px;
    margin: 25px 0; }
  .cart-page-wrapper .has-item .cart-is-empty {
    display: none; }
  .cart-page-wrapper .cart-is-empty {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .cart-page-wrapper .cart-is-empty img {
      width: 170px; }
    .cart-page-wrapper .cart-is-empty .empty-text {
      font-size: 24px;
      margin: 10px 0;
      color: #000; }
    .cart-page-wrapper .cart-is-empty .return-home {
      font-size: 16px;
      margin: 40px 0 0;
      color: #F5A623; }

.single-prod-page-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .single-prod-page-wrapper .single-prod-header {
    width: 100%;
    position: relative;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    .single-prod-page-wrapper .single-prod-header .single-prod-page-title {
      font-size: 24px;
      color: #3f51b5; }
    .single-prod-page-wrapper .single-prod-header .back {
      background-color: #F5A623;
      width: 40px;
      height: 40px;
      border-radius: 8px;
      position: absolute;
      top: 15px;
      left: 30px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .single-prod-page-wrapper .single-prod-header .back img {
        width: 20px; }
  .single-prod-page-wrapper .main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    padding: 30px; }
    .single-prod-page-wrapper .main-content .book-img-price-wrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      width: 100%; }
      .single-prod-page-wrapper .main-content .book-img-price-wrapper img {
        width: 150px;
        border-radius: 20px;
        margin-right: 15px; }
      .single-prod-page-wrapper .main-content .book-img-price-wrapper * {
        flex: 1; }
    .single-prod-page-wrapper .main-content .price-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      text-align: left;
      color: #000;
      font-size: 17px; }
    .single-prod-page-wrapper .main-content .has-discount .normal-price {
      text-decoration: line-through;
      font-size: 14px; }
  .single-prod-page-wrapper .details {
    margin: 30px 0 0;
    font-size: 16px;
    line-height: 35px; }
    .single-prod-page-wrapper .details .full-details-wrapper {
      margin: 20px 0 0; }
    .single-prod-page-wrapper .details .title {
      font-size: 25px; }
  .single-prod-page-wrapper .add-to-cart-text {
    color: #F5A623;
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin: 20px 0 0; }
    .single-prod-page-wrapper .add-to-cart-text .q-0 {
      display: none; }
    .single-prod-page-wrapper .add-to-cart-text .q-1 {
      display: block; }
  .single-prod-page-wrapper .add-to-cart-text.not-in-cart .q-0 {
    display: block; }
  .single-prod-page-wrapper .add-to-cart-text.not-in-cart .q-1 {
    display: none; }
  .single-prod-page-wrapper .single-prod-footer {
    width: 50%;
    margin: 20px 0 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .single-prod-page-wrapper .single-prod-footer .more, .single-prod-page-wrapper .single-prod-footer .quantity, .single-prod-page-wrapper .single-prod-footer .less {
      width: 40px;
      height: 40px;
      border-radius: 8px;
      border: 1px solid;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .single-prod-page-wrapper .single-prod-footer .more img, .single-prod-page-wrapper .single-prod-footer .quantity img, .single-prod-page-wrapper .single-prod-footer .less img {
        width: 20px; }
    .single-prod-page-wrapper .single-prod-footer .more {
      background-color: #05a986;
      border-color: #05a986; }
    .single-prod-page-wrapper .single-prod-footer .less {
      background-color: #ec5d63;
      border-color: #ec5d63; }
    .single-prod-page-wrapper .single-prod-footer .quantity {
      font-size: 16px;
      border-color: #393F45;
      margin: 0 5px; }
  .single-prod-page-wrapper .quan-0 .less, .single-prod-page-wrapper .quan-0 .quantity {
    display: none !important; }

.single-modal {
  padding: 0 !important; }

.cart-final-stage-page-wrapper {
  width: 100%;
  transition: all ease-in-out 0.3s;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .cart-final-stage-page-wrapper .cart-header {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center; }
    .cart-final-stage-page-wrapper .cart-header .back {
      background-color: #F5A623;
      width: 40px;
      height: 40px;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .cart-final-stage-page-wrapper .cart-header .back img {
        width: 20px; }
    .cart-final-stage-page-wrapper .cart-header .cart-page-title {
      font-size: 24px;
      color: #393F45; }
  .cart-final-stage-page-wrapper .main-content {
    width: 100%;
    color: #393F45;
    background-color: #fff;
    font-size: 16px;
    border-radius: 16px;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.05);
    padding: 30px 15px;
    margin: 50px 0; }
    .cart-final-stage-page-wrapper .main-content .cart-items-details div {
      margin: 0 0 25px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
    .cart-final-stage-page-wrapper .main-content .cart-items-details .label {
      color: #3f51b5;
      margin-left: 10px; }
  .cart-final-stage-page-wrapper .cart-details {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .cart-final-stage-page-wrapper .cart-details .prods-incart-text {
      color: #3f51b5; }
    .cart-final-stage-page-wrapper .cart-details .view-btn {
      width: 114px;
      height: 32px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: #fff;
      background-color: #F5A623;
      font-size: 16px;
      border-radius: 20px; }
  .cart-final-stage-page-wrapper a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    background-color: #3f51b5;
    font-size: 24px;
    border-radius: 20px;
    height: 58px;
    margin: 20px 0 120px; }

.wallet-wrapper-page {
  width: 100%;
  padding: 30px;
  transition: all ease-in-out 0.3s;
  transform: scale(0);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .wallet-wrapper-page .wallet-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }
  .wallet-wrapper-page .back {
    background-color: #F5A623;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .wallet-wrapper-page .back img {
      width: 20px; }
  .wallet-wrapper-page .wallet-page-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    color: #000;
    margin: 0 0 30px; }
  .wallet-wrapper-page .main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    color: #fff;
    background-color: #3f51b5;
    font-size: 24px;
    border-radius: 16px; }
    .wallet-wrapper-page .main-content .wallet-title {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 10px; }
    .wallet-wrapper-page .main-content .img-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      flex: 0 0 22px; }
    .wallet-wrapper-page .main-content img {
      width: 22px;
      float: left; }
  .wallet-wrapper-page .increase-title {
    width: 100%;
    text-align: right;
    margin: 30px 0 10px;
    font-size: 16px;
    color: #F5A623; }
  .wallet-wrapper-page .way-to-increase-wrapper {
    color: #000;
    background-color: #fff;
    font-size: 16px;
    border-radius: 16px;
    padding: 25px 20px;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.05);
    margin: 0 0 300px; }

.modal {
  opacity: 1;
  position: relative; }
  .modal .cart-footer {
    position: absolute;
    width: 100%;
    bottom: -30px; }
  .modal .total-price {
    font-size: 20px; }

.user-data-page {
  transition: all ease-in-out 0.3s;
  transform: scale(0);
  width: 100%;
  padding: 25px 30px 100px; }
  .user-data-page .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end; }
  .user-data-page .back {
    background-color: #F5A623;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .user-data-page .back img {
      width: 20px; }
  .user-data-page .page-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    color: #000;
    margin: 18px 0; }
  .user-data-page .text {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    color: #000; }
  .user-data-page .inputs-wrapper {
    width: 100%;
    margin: 40px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    .user-data-page .inputs-wrapper .input-wrapper {
      width: 100%; }
    .user-data-page .inputs-wrapper input, .user-data-page .inputs-wrapper textarea {
      width: 100%;
      height: 60px;
      border: 1px solid #D6D6D6;
      font-family: "main-font";
      padding: 15px 40px 15px 20px;
      background-color: #f8f8f8;
      border-radius: 16px;
      outline: none !important; }
      .user-data-page .inputs-wrapper input:focus, .user-data-page .inputs-wrapper textarea:focus {
        border-color: #05a986;
        box-shadow: 0px 0px 10px -2px #05a986; }
    .user-data-page .inputs-wrapper textarea {
      height: 200px;
      resize: none; }
    .user-data-page .inputs-wrapper .has-error {
      border-color: #ec5d63 !important;
      box-shadow: 0px 0px 10px -2px #ec5d63 !important; }
    .user-data-page .inputs-wrapper .error-loader {
      color: #fff;
      background-color: #ec5d63;
      font-size: 13px;
      border-radius: 20px;
      border: 1px solid #ec5d63;
      padding: 10px 20px;
      text-align: center;
      margin: 10px 0 10px;
      height: 0px;
      opacity: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: all ease-in-out 0.3s; }
  .user-data-page .submit-user-data {
    width: 100%;
    color: #fff;
    background-color: #3f51b5;
    font-size: 24px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 0 200px;
    height: 60px;
    font-family: "main-font";
    outline: none;
    border: none; }
  .user-data-page .dis {
    background-color: #393F45; }
  .user-data-page .label-and-input {
    position: relative; }
    .user-data-page .label-and-input img {
      position: absolute;
      width: 20px;
      top: 18px;
      right: 10px; }

.coin-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #3f51b5;
  height: 100vh;
  overflow-y: scroll;
  padding: 30px 30px 100px;
  transition: all ease-in-out 0.3s;
  transform: scale(0);
  color: #fff; }
  .coin-page-wrapper .header {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .coin-page-wrapper .header .back {
      background-color: #F5A623;
      width: 40px;
      height: 40px;
      border-radius: 8px;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .coin-page-wrapper .header .back img {
        width: 20px; }
    .coin-page-wrapper .header .page-title {
      font-size: 24px;
      margin: 12px 0 0; }
  .coin-page-wrapper .coin-image-wrapper {
    margin: 100px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .coin-page-wrapper .coin-image-wrapper img {
      width: 200px; }
  .coin-page-wrapper .expalin-text {
    font-size: 24px; }
  .coin-page-wrapper .ways-to-add-coin-wrapper {
    margin: 20px 0 50px; }
    .coin-page-wrapper .ways-to-add-coin-wrapper .title {
      font-size: 16px; }
  .coin-page-wrapper .coin-count-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    .coin-page-wrapper .coin-count-wrapper .coin-count-title {
      font-size: 16px;
      color: #F5A623; }
    .coin-page-wrapper .coin-count-wrapper .coin-count {
      margin: 40px 0 100px;
      font-size: 32px; }

.main-page-new-wrapper {
  transition: all ease-in-out 0.3s;
  transform: scale(0);
  padding: 30px 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .main-page-new-wrapper .header {
    padding: 0 30px;
    width: 100%;
    background-color: #f8f8f8;
    z-index: 14;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .main-page-new-wrapper .header .coin-wrapper,
    .main-page-new-wrapper .header .wallet-wrapper {
      position: relative;
      top: -15px; }
      .main-page-new-wrapper .header .coin-wrapper img,
      .main-page-new-wrapper .header .wallet-wrapper img {
        width: 30px; }
    .main-page-new-wrapper .header .coin-count {
      width: 20px;
      height: 20px;
      position: absolute;
      color: #fff;
      background-color: #3f51b5;
      font-size: 8px;
      border-radius: 50%;
      top: 15px;
      right: 12px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
    .main-page-new-wrapper .header .wallet-count {
      min-width: 60px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 17px;
      left: 15px;
      color: #fff;
      background-color: #3f51b5;
      font-size: 8px;
      border-radius: 8px; }
  .main-page-new-wrapper .main-content {
    width: 100%;
    margin: 70px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  .main-page-new-wrapper .main-btn-wrapper {
    padding: 0 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 15px;
    margin: 0 0 50px; }
    .main-page-new-wrapper .main-btn-wrapper .item {
      width: 150px;
      height: 150px;
      color: #000;
      background-color: #fff;
      font-size: 16px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.05); }
    .main-page-new-wrapper .main-btn-wrapper .item-book {
      color: #fff;
      background-color: #3f51b5; }
    .main-page-new-wrapper .main-btn-wrapper img {
      width: 25px; }
    .main-page-new-wrapper .main-btn-wrapper .title {
      margin: 0 0 10px; }
  .main-page-new-wrapper .special-offer-wrapper {
    width: 100%; }
    .main-page-new-wrapper .special-offer-wrapper .title {
      padding: 0 30px;
      font-size: 16px;
      margin: 0 0 15px; }
  .main-page-new-wrapper .special-offer-btns-wrapper {
    width: 100%;
    padding: 30px 0 50px 30px;
    background-color: #F5A623;
    overflow-x: scroll;
    direction: ltr; }
  .main-page-new-wrapper .special-offer-box {
    width: 905px;
    display: grid;
    grid-template-columns: repeat(5, 175px); }
  .main-page-new-wrapper .item-down {
    width: 160px;
    height: 160px;
    color: #000;
    background-color: #fff;
    font-size: 16px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .main-page-new-wrapper .item-down .title-item {
      margin: 0 0 10px; }

footer {
  width: 100%;
  position: fixed;
  bottom: -1px;
  right: 0;
  z-index: 200;
  color: #f8f8f8;
  background-color: #3f51b5;
  font-size: 15px;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 85px; }
  footer * {
    flex: 1; }
  footer .footer-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0 0; }
  footer img {
    width: 20px;
    margin: 0 0 5px; }
  footer .cart-item-number {
    position: absolute;
    right: 40px;
    top: 20px;
    width: 22px;
    height: 22px;
    color: #fff;
    background-color: #F5A623;
    font-size: 12px;
    border-radius: 50%;
    border: 1px solid #F5A623;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 0 0 0; }

/*# sourceMappingURL=new-ui.css.map */
